.profileSettings {
  flex: 9;
  padding: 20px 30px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsTitleUpdate {
  font-size: 25px;
  margin-bottom: 20px;
  color: #444444;
  cursor: pointer;
}

.settingsTitleDelete {
  font-size: 15px;
  margin-bottom: 20px;
  color: #a1504f;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.profilePictureSettings {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.profileImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  object-fit: cover;
}

.profilePictureIconSettings {
  height: 30px;
  width: 30px;
  color: white;
  background-color: #a1504f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10;
  cursor: pointer;
}
.profilePictureIconSettings:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm > input {
  color: #444444;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid #444444;
}

.settingsSubmitButton {
  align-self: center;
  width: 150px;
  height: 35px;
  margin: 30px;
  color: #a1504f;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
}

.settingsSubmitButton:hover {
  background-color: #999999;
  transition: 0.3s;
}
