.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
  color: #444;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 70%;

  border-bottom: 2px dotted #999;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem > h1 {
  margin-top: 15px;
  font-size: 25px;
}

.sidebarItem > p {
  padding: 20px;
}
.sidebarList {
  list-style: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocialIcon {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarListItem:hover {
  transition: 0.5s;
  color: #a1504f;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 15px;
  cursor: pointer;
}

.sidebarIcon:hover {
  transition: 0.5s;
  color: #a1504f;
}
